.nav_superior{
    background: red;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    /*position: fixed;*/
}
.nav_superior ul li{
    display: inline;
}
ul{
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
.nav_superior ul li a{
    padding: 8px 30px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
.nav_superior ul li a:hover{
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}

#cabecalho{
    background: blue;
    width: 110%;
    height: 150px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

#body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: black;

    float: top;

}
.game{
    float: left;
    width: 49%;
    height: 200px;
    background: red;
    margin: 2px;
    border-radius: 5px;
}

.img_game{
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
    /*margin-left: 10%;*/
}
.btn_jogar{
    border-radius: 4px;
    margin-left: 18%;
    bottom:0;
    position:relative;
    background: green;
    padding-bottom: 2px;
    padding-left: 20%;
    padding-right: 20%;
    border-style: inset;

}
#frame_game{
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}
/*Slide Show Menu*/
.mySlides {
    display:none;
}

/*Parte inferior menu*/
.inferiorMenu{
    float: left;
    width: 100%;
    background: black;
    margin: 2px;
    margin-top: 40px;
    border-radius: 0px;
}

.img_inferiorMenu{
    width: 55%;
    max-height: 200px;
    border-radius: 5px;
    /*margin-left: 10%;*/
}

/*Loading css*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://i.imgur.com/zAD2y29.gif') 50% 50% no-repeat white;
}